@charset "utf-8";

/* Body */
body {
    width: 95%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

h1 {
    text-align:center;
}

div#imageDisplay {
    width: min-content;
}

/* Grid */
#stars {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    /*grid-template-columns: 1fr 1fr;*/
    grid-auto-flow: column;
    gap: 10px;
}

li {
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 30px;
    font-size: 1.3em;
    /*margin: auto;*/
    /*line-height: 6em;*/
    cursor: default;
}

button#theme {
    position:absolute;
    right: 0;
}

.darkTheme{
    background-color: #505050;
    /*color: lightgray;*/
    & li {
        background-color: gray;
        /*color:lightgray;*/
    }
}

/*li {*/
/*    background-color: blue;*/
/*}*/
