@charset "utf-8";

div#images {
    border: 1px solid red;
    width: min-content;
}

/* Grid */
#stars {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

#stars > li {
    /*background-color: yellow;*/
    text-align: center;
    list-style: none;
}

#stars a {
    text-decoration: none;
}