@charset "utf-8";

h1 {
    text-align:center;
}

div#images {
    border: 1px solid red;
    width: min-content;
}

/* Grid */
#stars {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    /*grid-auto-rows: minmax(100px, auto);*/
    gap: 10px;
}

#stars > li {
    text-align: center;
    list-style: none;
    background-color: whitesmoke;
    /*margin: auto;*/
    line-height: 6em;

}

#stars a {
    text-decoration: none;
    vertical-align: center;

}