@charset "utf-8";

h1 {
    text-align:center;
}

div#imageDisplay {
    width: min-content;
}

/* Grid */
#stars {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    /*grid-template-columns: 1fr 1fr;*/
    grid-auto-flow: column;
    gap: 10px;
}

#stars > li {
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 30px;
    font-size: 1.3em;
    /*margin: auto;*/
    /*line-height: 6em;*/
    cursor: default;
}
